ANTHROPIC_API_KEY=your_anthropic_api_key_here
CIRCLE_API_KEY=your_circle_api_key_here
NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_CHAIN_ID=1227853239
NEXT_PUBLIC_CONTRACT_ADDRESS=your_deployed_contract_address_here
